.login {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    top: 1.5rem;
    left: 8rem;
    z-index: 2;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

}
.login-div {
    cursor: pointer;
}
.login-menu {
    width: 800%;
    position: absolute;
    display: flex;
    flex-flow: column;
    padding: 10px;
    margin: 20px;
    top: 1rem;
}
.shop-div{
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: start;
    left: 4rem;
    z-index: 2;
}
.loginForm{
    width: 600%;
    position: absolute;
    background-color: salmon;

    padding: 0.5rem;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;

    top: 3rem;
    gap: 0.5rem;
}
.loginForm-input{
    position: relative;
    height: 30px;
    border-radius:2rem;
    text-align: center;
}
.loginForm-boton{
    cursor: pointer;
}
.loginForm-enviar{
    background-color: transparent;
}

/*_____________ @media ________________*/
/*  Descripción: Estilos para la visualización de la web en diferentes dispositivos.
Movil, tablet, ordenadores en pantalla grande */

@media (max-width:1280px){
    .login{
        left: 14rem;
    }
}
@media (max-width:1024px){
    .login{
        left: 14rem;
    }
}
@media (max-width:768px){
    .login{
        left: 14rem;
    }
}
@media (max-width:712px){
    .login{
        left: 12rem;
    }
}
@media (max-width:430px){
    .login{
        left: 9rem;
    }
}
@media (max-width:415px){
    .login{
        left: 12rem;
    }
}
@media (max-width:412px){
    .login{
        left: 12rem;
    }
}
@media (max-width:391px){
    .shop-div{
        left: 3rem;
    }
}
@media (max-width:384px){
    .login{
        left: 11rem;
    }
}
@media (max-width:360px){
    .login{
        left: calc(100% - 60%);
        left: 10rem;
    }
}
@media (max-width:320px){
    .login{
        left: 11rem;
    }
}